<div id = "background">


  <div id = "top_bar">
    <h1 id = "logo"> My Blog </h1>

    <div>
      <h3 id="page-name"> Editing post </h3>
    </div>
  </div>


<div id = "inner_page">

  <p id = "links">
<%= link_to 'Home', posts_path %> | <%= link_to 'Show ', @post %>
  </p>


    <%= form_for @post do |f| %>

 <div id="newpost_form">
   <h3 id = "fields"><%= f.label :title %></h3>
   <p id = "fields"> <%= f.text_field :title, :size=>"140x30"%> </p>




   <h3 id = "fields">  <%= f.label :content %></h3>
   <p id = "fields">  <%= f.text_area :content, :size=>"140x20"%></p>



<p style="padding-bottom: 20%">
      <%= f.submit "Save changes" %>
</p>
</div>
    <% end %>

</div>

</div>