

<div id = "background">


  <div id = "top_bar">
    <h1 id = "logo"> My Blog </h1>

    <div>
      <h3 id="page-name">new post</h3>
    </div>
  </div>


  <div id = "inner_page">

    <p id = "linksshow">
      <%= link_to 'Home', posts_path %>
    </p>




<%= form_for :post,  url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="newpost_form">
  <p style="color: white">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size=>"40x10"%>
  </p>


  <p style="color:white">
    <%= f.label :content %><br>
    <%= f.text_area :content, :size=>"100x20"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
  </div>
<% end %>



</div>
</div>