<p id="notice"><%= notice %></p>
<div id = "background">


  <div id = "top_bar">
    <h1 id = "logo"> My Blog </h1>

    <div>
      <h3 id="page-name">post</h3>
    </div>
  </div>


  <div id = "inner_page">

    <p id = "linksshow">
      <%= link_to 'Home', posts_path%> | <%= link_to 'New Post', new_post_path %>
    </p>

<div id = "inner_page">




<div id="showposts">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
</div>


  <h2 style = "text-decoration-line: underline; color:white" >Comments</h2>

<div id="showposts">
<%= render @post.comments %>
</div>

<h2 style = "text-decoration-line: underline; color:white">Add a comment:</h2>
<%= render "comments/form" %>





</div>
  </div>
</div>